.site-footer {
  background: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-item-style {
  color: #333333 !important;
}
