.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 24px;

  .icon-crumbs {
    display: inline-block;
    padding: 0 4px;
  }

  li a {
    color: $black40;
  }

  li:last-child a {
    color: $link;
  }
}
