.btn-page,
.btn-arrow {
  background: transparent;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
}

.btn-arrow span {
  display: inline-block;
  transform: scale(1.5);
}

:global(.pagination) .button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-page {
  color: $black60;
}

.btn-page.active {
  background: palette("primary");
  color: #fff;
  opacity: 1;
  box-shadow: 0 0 0 4px palette("primary");
  position: relative;
  z-index: 2;
  // padding-left: 8px;
  // padding-right: 8px;
  margin: 0 3.5px;
}

:global(.pagination) .button:hover:not(:disabled) {
  background: rgba($black, 0.1);
  color: palette("primary");
}

.pagination-item {
  // background: $black10;
  margin: 0;

  &:first-child {
    border-radius: 4px 0 0 4px;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
  }
}
