.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 206px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;

  > h1 {
    margin: 20px 0;
    font-size: 6rem;
    font-family: sans-serif;
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.25);
    text-transform: uppercase;

    & span {
      -webkit-text-fill-color: rgba(0, 0, 0, 0.25);
      -webkit-text-stroke-width: 0;
      margin-left: 80px;
      margin-right: 80px;
    }
  }
}
