.slidercontainer {
  height: 560px;
  width: 100%;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.slidercontent {
  height: 500px;
  position: relative;
}

.slidertext {
  position: absolute;
  padding: 0;
  top: 30%;
  left: 10%;
}
