.site-header {
  display: flex;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 60px;
  box-shadow: 0px 3px 4px rgba($black, 0.15);

  & > :global(.container) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.transparent-header {
    background: transparent;

    .header-link {
      color: #fff;

      &:hover {
        color: $black20;
      }
    }
  }

  @media #{$large} {
    height: 70px;
  }
}

.header-nav {
  height: 100%;
}

.nav-toggle:global(.btn--ghost-grey) {
  @media #{$medium} {
    display: none;
  }
}

.main-nav {
  @media #{$medium} {
    & > ul {
      display: flex;
    }
  }

  li {
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  ul,
  li {
    height: 100%;
  }
}

.header-notif {
  display: flex;
}

.nav-container {
  display: flex;
  height: 100%;
}

.header-link {
  color: $dark-grey;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;

  &:hover,
  &:focus,
  &.is-active {
    color: $link;
  }

  &.is-active {
    border-right-color: $link;
  }

  @media #{$medium} {
    &.is-active {
      border-right-color: transparent;
      border-bottom-color: $link;
    }
  }
}
