.modal-wrapper,
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-wrapper {
  z-index: 99;
}

.modal-backdrop {
  z-index: 1;
  background: $black90;
  opacity: 0.6;
}

.modal-box {
  z-index: 2;
  position: absolute;
  max-height: calc(100vh - 48px - 48px);
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 8px;
  padding: 54px 14px 13px;

  &.modal--no-close {
    padding: 14px;
  }

  &.modal--auto {
    @media #{$medium} {
      width: auto;
    }
  }

  &.modal--small {
    max-width: 500px;
  }

  &.modal--medium {
    max-width: 768px;
  }

  &.modal--large {
    max-width: 1140px;
  }
}

.modal-content {
  max-height: calc(100vh - 48px - 48px - 54px - 13px);
  overflow-x: hidden;
  overflow-y: auto;
}

.btn-close {
  font-size: 24px;
  width: 42px;
  height: 42px;
  padding: 0;
  position: absolute;
  right: 14px;
  top: 13px;
  border: none;
  background: none;
  cursor: pointer;
}

.modal-footer {
  // position: absolute;
  bottom: 0;
  text-align: right;
}
