@font-face {
  font-family: "Open Sans";
  src: url("/static/fonts/opensans-light-webfont.woff2") format("woff2"),
    url("/static/fonts/opensans-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/static/fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("/static/fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/static/fonts/opensans-bold-webfont.woff2") format("woff2"),
    url("/static/fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/static/fonts/opensans-extrabold-webfont.woff2") format("woff2"),
    url("/static/fonts/opensans-extrabold-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
